---
export interface Props {
  centered?: boolean
  highlight?: boolean
  large?: boolean
  title?: string
  hide?: boolean
}

const { centered, highlight, large, title, hide} = Astro.props
---

<section class="presentation-slide centered large" class:list={{ centered, highlight, large, hide }}>
  {title? <h1 class="presentation-slide-title">{title}</h1> : null}
  <slot />
</section>
