---
export interface Props {
  centered?: boolean
  highlight?: boolean
  large?: boolean
}

const { centered, highlight, large} = Astro.props
---

<section class="presentation-slide centered large" class:list={{ centered, highlight, large }}>
  <slot />
</section>
