:root {
  --sl-content-width: 50rem;
  --sl-text-5xl: 2rem;
}

.pageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.pageTitle h1 {
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.pageTitle #presentation-button {
  margin-left: auto;
  align-self: flex-end;
}

.sl-markdown-content {

  h1,
  h2,
  h3,
  h4 {
    margin-top: 60px;
    margin-bottom: 40px;
    padding-top: 20px;
  }

  h2 {
    border-top: 3px solid rgb(160, 160, 160);
  }

  h2:first-child {
    border-top: none;
    margin-top: 0;
  }

  h3,
  h4 {
    border-top: 1px solid rgb(160, 160, 160);
  }

  h5 {
    margin-bottom: 2rem;
  }

  li {
    margin-bottom: 1.5rem;
  }

  strong {
    /* color: rgb(228, 27, 27); */
    color: rgb(93, 25, 212);
    font-weight: 500;
  }

  em {
    color: rgb(136, 136, 136);
  }

  li>ul {
    margin-top: 1.2rem;
  }

  code {
    /* font-size: 1.1rem; */
  }

  .tables {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    align-items: flex-start;
    max-width: 100%;
  }

  .highlight-box {
    background-color: rgb(244, 240, 255);
  }

  img,
  .expressive-code {
    margin: 2rem auto;
    max-width: 100%;
  }

  details {
    margin: 2rem 0;
    align-self: flex-start;
  }

  .masonry p {
    /* columns: 2; */

   display: flex;
   align-items: left;
   justify-content: left;
   flex-direction: row;
   flex-wrap: wrap;
   flex-flow: row wrap;
   align-content: flex-end;

    img {
      margin-top: 0;
      max-width: 40%;
      height: auto !important;
    }
  }

}

.presentation-slide.hide {
  display: none;
  visibility: hidden;
}

.label foreignObject {
  overflow: visible;
  font-size: 90%;
}

.onlyPrint {
  display: none;
}

@media print {

  .onlyPrint {
    display: initial;
  }

  h1, h2, h3, h4, h5 {
    border-top: none !important;
  }

  header,
  nav,
  .pagination-links,
  ul[role="tablist"],
  #presentation-button {
    display: none;
  }

  table,
  img,
  .expressive-code,
  .starlight-aside {
    break-inside: avoid;
    max-width: 100%;
    text-wrap: wrap;
  }

  .page-break {
    page-break-before: always;
  }

}
