:root {
  --sl-content-width: 50rem;
  --sl-text-5xl: 2rem;
}

.pageTitle {
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-left: auto;
}

.pageTitle h1 {
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.pageTitle #presentation-button {
  margin-left: auto;
  align-self: flex-end;
}

.sl-markdown-content h1,
.sl-markdown-content h2,
.sl-markdown-content h3,
.sl-markdown-content h4 {
  margin-top: 60px;
  margin-bottom: 40px;
  padding-top: 20px;
}

.sl-markdown-content h2{
  border-top: 3px solid rgb(160, 160, 160);
}

.sl-markdown-content h2:first-child {
  border-top: none;
  margin-top: 0;
}

.sl-markdown-content h3,
.sl-markdown-content h4 {
  border-top: 1px solid rgb(160, 160, 160);
}

.sl-markdown-content li {
  margin-bottom: 1.5rem;
}

.sl-markdown-content strong {
  /* color: rgb(228, 27, 27); */
  color: rgb(93, 25, 212);
  font-weight: 500;
}

.sl-markdown-content em {
  color: rgb(136, 136, 136);
}

.sl-markdown-content li>ul {
  margin-top: 1.5rem;
}

.sl-markdown-content table {
  border-collapse: collapse;
  font-family: sans-serif;
  margin-bottom: 40px;
  max-width: 100%;
}

.sl-markdown-content caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

.sl-markdown-content thead,
.sl-markdown-content tfoot {
  background-color: rgb(95, 95, 95);
}

.sl-markdown-content thead>tr:nth-child(1) th,
.sl-markdown-content tfoot>tr:nth-child(1) th {
  text-transform: uppercase;
  color: white;
}

.sl-markdown-content thead>tr:nth-child(2) th,
.sl-markdown-content tfoot>tr:nth-child(2) th {
  background-color: rgb(239, 239, 239);
}

.sl-markdown-content tbody>tr:nth-of-type(even) {
  background-color: rgb(248, 248, 248);
}

.sl-markdown-content th {
  text-align: center !important;
}

.sl-markdown-content th,
.sl-markdown-content td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.sl-markdown-content td {
  text-align: left !important;
}

.sl-markdown-content :is(th:first-child, td:first-child):not(:where(.not-content *)),
.sl-markdown-content :is(th:last-child, td:last-child):not(:where(.not-content *)) {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.thead-pk-1 thead tr:nth-child(2) th:nth-child(1),
.thead-pk-2 thead tr:nth-child(2) th:nth-child(2),
.thead-pk-3 thead tr:nth-child(2) th:nth-child(3),
.thead-pk-4 thead tr:nth-child(2) th:nth-child(4),
.thead-pk-5 thead tr:nth-child(2) th:nth-child(5),
.thead-pk-6 thead tr:nth-child(2) th:nth-child(6),
.thead-pk-7 thead tr:nth-child(2) th:nth-child(7),
.thead-pk-8 thead tr:nth-child(2) th:nth-child(8),
.thead-pk-9 thead tr:nth-child(2) th:nth-child(9),
.thead-pk-10 thead tr:nth-child(2) th:nth-child(10) {
  text-decoration: underline;
}

.table-pk-1 table td:nth-child(1),
.table-pk-2 table td:nth-child(2),
.table-pk-3 table td:nth-child(3),
.table-pk-4 table td:nth-child(4),
.table-pk-5 table td:nth-child(5),
.table-pk-5 table td:nth-child(6),
.table-pk-5 table td:nth-child(7),
.table-pk-5 table td:nth-child(8),
.table-pk-5 table td:nth-child(9),
.table-pk-5 table td:nth-child(10) {
  background-color: rgb(243, 127, 127);
  font-weight: bold;
}

.table-fk-1 table td:nth-child(1),
.table-fk-2 table td:nth-child(2),
.table-fk-3 table td:nth-child(3),
.table-fk-4 table td:nth-child(4),
.table-fk-5 table td:nth-child(5),
.table-fk-6 table td:nth-child(6),
.table-fk-7 table td:nth-child(7),
.table-fk-8 table td:nth-child(8),
.table-fk-9 table td:nth-child(9),
.table-fk-10 table td:nth-child(10) {
  background-color: rgb(162, 238, 162);
}


.table-pk-1.table-fk-1 table td:nth-child(1),
.table-pk-2.table-fk-2 table td:nth-child(2),
.table-pk-3.table-fk-3 table td:nth-child(3),
.table-pk-4.table-fk-4 table td:nth-child(4),
.table-pk-5.table-fk-5 table td:nth-child(5),
.table-pk-6.table-fk-6 table td:nth-child(6),
.table-pk-7.table-fk-7 table td:nth-child(7),
.table-pk-8.table-fk-8 table td:nth-child(8),
.table-pk-9.table-fk-9 table td:nth-child(9),
.table-pk-10.table-fk-10 table td:nth-child(10) {
  background: linear-gradient(0.25turn, rgb(243, 127, 127), #ebf8e1, rgb(162, 238, 162));
}

.presentation-slide.hide {
  display: none;
  visibility: hidden;
}


.label foreignObject {
  overflow: visible;
  font-size: 90%;
}

.sl-markdown-content .highlight-box {
  background-color: rgb(244, 240, 255);
}

/* hide .right-sidebar-panel for printing */
@media print {
  .right-sidebar-panel {
    display: none !important;
  }
}
