:root {
  --sl-content-width: 50rem;
  --sl-text-5xl: 2rem;
}


.sl-markdown-content table {
  border-collapse: collapse;
  font-family: sans-serif;
  /* font-size: 0.8rem;
  letter-spacing: 1px; */
}

.sl-markdown-content caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

.sl-markdown-content thead,
.sl-markdown-content tfoot {
  background-color: rgb(228 240 245);
}

.sl-markdown-content th
{
  text-align: center !important;
}

.sl-markdown-content th,
.sl-markdown-content td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.sl-markdown-content td {
  text-align: left !important;
}

.sl-markdown-content tbody>tr:nth-child(1),
.sl-markdown-content tbody>tr:nth-child(2) {
  background-color: rgb(228, 238, 228);
}
.sl-markdown-content tbody>tr:nth-of-type(even):not(:nth-child(1)):not(:nth-child(2)) {
  background-color: rgb(237 238 242);
}

.sl-markdown-content :is(th:first-child, td:first-child):not(:where(.not-content *)),
.sl-markdown-content :is(th:last-child, td:last-child):not(:where(.not-content *)) {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.sl-markdown-content h1, h2, h3, h4 {
  margin-top: 40px;
}

.sl-markdown-content li {
  margin-bottom: 1.5rem;
}
.sl-markdown-content li > ul {
  margin-top: 1.5rem;
}
